@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Stick+No+Bills&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Stick No Bills', sans-serif;
}
body {
 background-color: #020202;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rock {
  background-color: rgb(84, 211, 46);
}
.ghost {
  background-color: rgb(223, 16, 171);
}
.electric {
  background-color: rgb(233, 233, 18);
}
.bug {
  background-color: #bf20ce;
}
.poison {
  background-color: #d160b5;
}
.normal {
  background-color: #e64210;
}
.fairy {
  background-color: rgba(61, 200, 235, 0.863);
}
.fire {
  background-color: #f04a81;
}
.grass {
  background-color:#6af165;
}
.water {
  background-color:#3ca0e7;
}

.app-contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
}
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
h3 {
  margin-bottom: 0.2rem;
}
.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(89, 177, 169, 0.3);
}
.thumb-container img {
  width: 120px;
  height: 120px;
}
.thumb-container small {
  text-transform: capitalize;
}
.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.detail-wrapper button {
  color: rgb(109, 193, 226);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}
.load-more {
  background: #8a6d6d linear-gradient(#9be5f8,#f1f1f1) repeat-x;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  color: #444;
  padding: 0.5rem 1.5rem;
  min-width: 50%;
  margin-top: 1rem;
}

.Imagen{
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.65);
  border-radius: 20%;
  width: 380px;
  margin-bottom: 50px;
}

.about-me{
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Stick No Bills', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  left: 800px;
  top: 115px;
  text-align: center;
  background-color: #F50909;
  position: absolute;
  width: auto;
  color: black;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.65);
  text-align: center;
}
.perfiles{
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center
}
.a  {
  text-decoration:none;
  font-weight:600;
  font-size:20px;
  color:#ffffff;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:150px;
  padding-right:150px;
  background-color:#FFD27D;
  }
  nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F50909;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-family: 'Stick No Bills', sans-serif;
}

.options {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.options a {
    display: inline-block;
    background: #605D5D;
    color: black;
    letter-spacing: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none!important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
}

.options a:hover {
    color: black;
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.options a:link,
.options a:visited {
    color: black;
    outline: transparent;
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom right;
  }